<div class="full">
    <div class="left">
        <a href="">Homepage</a>
        <a href="">Tracker</a>
        <a href="">Fact of the Day</a>
    </div>

    <div class="middle">
        <a href="">Impressum</a>
        <a href="">Kontakt</a>
        <a href="">Über uns</a>
    </div>

    <div class="right">
        <div class="zit">
            <div class="zit-txt">
                “Small acts, when multiplied by millions, can transform the world.”
            </div>
            <div class="zit-auth">
                by Howard Zinn
            </div>
        </div>

        <div class="logo">
            <img src="assets/tree_small.png" alt="">
        </div>
    </div>
</div>
