<div class="full">
    <div class="left">
        <a href="">Homepage</a>
        <a href="">Tracker</a>
        <a href="">{{langService.content[17]}}</a>
    </div>

    <div class="middle">
        <a href="">{{langService.content[18]}}</a>
        <a href="">{{langService.content[19]}}</a>
        <a href="">{{langService.content[20]}}</a>
    </div>

    <div class="right">
        <div class="zit">
            <div class="zit-txt">
                “Small acts, when multiplied by millions, can transform the world.”
            </div>
            <div class="zit-auth">
                by Howard Zinn
            </div>
        </div>

        <div class="logo">
            <img (click)="navigateHome()" src="assets/tree_small.png" alt="">
        </div>
    </div>
</div>
