<div class="full">
    <div class="border">
        <div class="component">

            <div class="hero">
                <div class="image">
                    <img src="assets/CO2.jpg" alt="CO2 fabrik">
                </div>
                <div class="logo">
                    <img src="assets/Logo.png" alt="Logo">
                </div>
            </div>

            <div class="ziel">
                <div class="zielHead">
                    {{langService.content[0]}}
                </div>
                <div class="zielText">
                    {{langService.content[1]}}
                </div>
            </div>

            <div class="funktion">
                <div class="funktionHead">
                    {{langService.content[2]}}
                </div>
                <div class="funktionText1">
                        {{langService.content[3]}}
                    <div class="taskContainer-Parent">
                        <div class="taskContainer">
                            <div class="taskText">
                                Task
                            </div>
                            <div class="taskTickbox">

                            </div>
                            <div class="nagel beispielNagelLO"></div>
                            <div class="nagel beispielNagelLU"></div>
                            <div class="nagel beispielNagelRO"></div>
                            <div class="nagel beispielNagelRU"></div>
                        </div>
                    </div>
                </div>

                <div class="funktionText2">
                    {{langService.content[4]}}
                </div>
                <div class="taskContainer-Parent">
                        <div class="taskContainer">
                            <div class="taskText">
                                Task
                            </div>
                            <div class="taskTickbox">

                            </div>
                            <div class="nagel beispielNagelLO"></div>
                            <div class="nagel beispielNagelLU"></div>
                            <div class="nagel beispielNagelRO"></div>
                            <div class="nagel beispielNagelRU"></div>
                            <div class="explaination">
                                {{langService.content[5]}}
                            </div>
                            <svg class="maus" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="m320-410 79-110h170L320-716v306ZM551-80 406-392 240-160v-720l560 440H516l144 309-109 51ZM399-520Z"/></svg>
                        </div>   
                </div>

                <div class="funktionText3">
                    {{langService.content[6]}}
                </div>

                <div class="taskContainer-Parent">
                    <div class="taskContainer">
                            <div class="taskText">
                                Task
                            </div>
                            <div class="taskTickbox">
                                <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" fill="#e3e3e3">
                                    <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/>
                                </svg>
                            </div>
                            <div class="nagel beispielNagelLO"></div>
                            <div class="nagel beispielNagelLU"></div>
                            <div class="nagel beispielNagelRO"></div>
                            <div class="nagel beispielNagelRU"></div>
                            <div class="gray"></div>
                        </div>
                </div>         
            </div>


            <div class="about">
                <div class="aboutHead">
                    {{langService.content[7]}}
                </div>
                <div class="aboutText">
                    {{langService.content[8]}}    
                </div>
            </div>

            <div class="dd">
                <div class="david">
                    <div class="dHead">
                        David:
                    </div>
                    <div class="dText">
                        {{langService.content[9]}}
                    </div>
                </div>

                <div class="daniel">
                    <div class="dHead">
                        Daniel:
                    </div>
                    <div class="dText">
                        {{langService.content[10]}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>