<div class="full">
    <div class="logo">
        <div class="logoImg">
            <img src="assets/tree_small.png" alt="">
        </div>
    </div>
    <div class="navigation">
        <div class="nav-el"><a href="#">Home</a></div>
        <div class="nav-el"><a href="/tracker">Tracker</a></div>
        <div class="nav-el"><a href="/fact">Fact of the day</a></div>
    </div>
    @if (langService.lang =="german") {
        <div (click)='changeLang("english")' class="lang">
            <div class="lang-btn">
                <img src="assets/flag/DE.png" alt="">
                DE
            </div>
        </div>
    }
    @else {
        <div (click)='changeLang("german")' class="lang">
            <div class="lang-btn">
                <img src="assets/flag/US-UK.png" alt="">
                EN
            </div>
        </div>
    }
</div>  