<div class="full">
    <div class="border">
        <div class="component">
            <div class="headline">
                Tasks für heute
            </div>
            <div class="container">
                <div class="tasks">
                    <div class="select-cath">
                        @for (task of tasks; track $index) {
                            <div (click)="setType($index)" class="cathegory">
                                {{task.heading}}
                            </div>
                        }
                    </div>

                    @for (task of tasks[type].tasks; track $index) {
                        <div class="beispiel">
                            <div class="container">
                                <div class="beispielText">
                                    {{task}}
                                </div>
                                <div class="beispielTickbox"></div>
                                <div class="nagel beispielNagelLO"></div>
                                <div class="nagel beispielNagelLU"></div>
                                <div class="nagel beispielNagelRO"></div>
                                <div class="nagel beispielNagelRU"></div>
                            </div>
                        </div>
                    }

                </div>


                <div class="diagram">
                    dia
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overview">  

    <div class="border">
        <div class="component">
            <div class="headline">
                Übersicht
            </div>

            <div class="select-cath2">
                            <div (click)="setType(1)" class="cathegory">
                                Woche
                            </div>
                            <div (click)="setType(1)" class="cathegory">
                                Monat
                            </div>
            </div>
            <div class="grid1">
                <div class="grid2">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                </div>
            </div>
        </div>
    </div>
