<div class="full">
    <div class="border">
        <div class="component">
            <div class="headline">
                Tasks für heute
            </div>
            <div class="container">
                <div class="tasks">
                    <div class="select-cath">
                        @for (task of tasks; track $index) {
                            <div (click)="setType($index)" class="cathegory">
                                {{task.heading}}
                            </div>
                        }
                    </div>

                    @for (task of tasks[type].tasks; track $index) {
                        <div class="beispiel">
                            <div class="container">
                                <div class="beispielText">
                                    {{task}}
                                </div>
                                <div class="beispielTickbox"></div>
                                <div class="nagel beispielNagelLO"></div>
                                <div class="nagel beispielNagelLU"></div>
                                <div class="nagel beispielNagelRO"></div>
                                <div class="nagel beispielNagelRU"></div>
                            </div>
                        </div>
                    }

                </div>


                <div class="diagram">
                    <app-chart></app-chart>
                </div>
            </div>
        </div>
    </div>
</div>