<div class="full">
    <div class="border">
        <div class="component">
            <div class="headline">
                Tasks für heute
            </div>
            <div class="container">
                <div class="tasks">
                    <div class="select-cath">
                        @for (taskGroup of langService.tasks; track $index) {
                            <div (click)="setType($index)" class="cathegory">
                                {{taskGroup.cathegory}}
                            </div>
                        }
                    </div>
                    <div class="taskList">
                        @for (task of langService.tasks[type].task; track $index) {
                            <div class="taskContainer" (mouseenter)="mouseEnter(task.id)" (mouseleave)="mouseLeave()">
                                <div class="taskText">
                                    {{task.title}}
                                </div>
                                <div (click)="tickBox(task.id)" #trackArea class="taskTickbox">

                                    @if (langService.getDataFromLocal(task.id) == "true") {
                                        <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" fill="#e3e3e3">
                                            <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/>
                                        </svg>
                                        <div class="gray"></div>
                                    }
                                </div>
                                <div class="nagel beispielNagelLO"></div>
                                <div class="nagel beispielNagelLU"></div>
                                <div class="nagel beispielNagelRO"></div>
                                <div class="nagel beispielNagelRU"></div>
                                
                            </div>
                        }
                        @if (isHovering) {
                            <div class="mouse-follower" [ngStyle]="{ left: mouseX + 'px', top: mouseY + 'px' }">

                                @if(this.id < 10) {
                                    {{langService.tasks[0].task[this.id].description}}
                                }
                                @else {
                                    {{langService.tasks[type].task[theValueOfTheValues].description}}
                                }

                                <!-- <div class="punkt">
                                    {{langService.content[21]}}
                                    {{langService.tasks[type].task[this.id].points}}
                                </div> -->
                            </div>
                        }
                    </div>

                </div>


                <div class="diagram">
                    <div class="chart" id="donutchart"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overview">  

    <div class="border">
        <div class="component">
            <div class="headline">
                {{langService.content[22]}}
            </div>
            <div class="containerXp">
                <div class="xpBar" [ngStyle]="{ width: totalCalc + '%'}">
                    <p>{{totalCalc}}%</p>
                </div>
            </div>            
            <div class="container">
                <div class="overviewContainer">
                    <div class="overviewText">
                        {{langService.content[23]}}
                        {{total}}
                        {{totalCalc}}
                    </div>
                    
                </div>
        </div>
    </div>
</div>