/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  --f1: #D2E2B0;
  --f2: #7E9962;
  --f3: #665B32;
  --f4: #2A2100;
}